{% extends "index.html" %}
{% load static %}
        
{% block title %}
<title>Live Resume : Resume</title>
{% endblock title %}

{% block navbar %}
        <nav class="collapsible-nav" id="collapsible-nav">
            <a href="{% url 'home' %}" class="nav-link">HOME</a>
            <a href="{% url 'resume' %}" class="nav-link active">RESUME</a>
            <a href="{% url 'portfolio' %}" class="nav-link">PORTFOLIO</a>
            <a href="{% url 'blog' %}" class="nav-link">BLOG</a>
        </nav>
{% endblock navbar %}

{% block aboutme %}
  .
{% endblock aboutme %}

{% block content %}
<main>
    <section class="resume-section">
        <div class="row">
            <div class="col-lg-6">
                <h6 class="section-subtitle">RESUME</h6>
                <h2 class="section-title">EDUCATION</h2>
                <ul class="time-line">
                    <li class="time-line-item">
                        <span class="badge badge-primary">2022 - 2023</span>
                        <h6 class="time-line-item-title">Frontend developer</h6>
                        <p class="time-line-item-subtitle">itProger ACADEMY</p>
                        <p class="time-line-item-content">I'm working on myself.</p>
                    </li>
                    <li class="time-line-item">
                        <span class="badge badge-primary">2023 - now</span>
                        <h6 class="time-line-item-title">Bacend web developer</h6>
                        <p class="time-line-item-subtitle">PARVOZ ACADEMY</p>
                        <p class="time-line-item-content">I'm working on myself.
                        </p>
                    </li>
                    
                </ul>
            </div>
            <div class="col-lg-6">
                <h6 class="section-subtitle">RESUME</h6>
                <h2 class="section-title">Experience</h2>
                <ul class="time-line">
                    <li class="time-line-item">
                        <span class="badge badge-primary">2024 - now</span>
                        <h6 class="time-line-item-title">Freelancer</h6>
                        
                        <p class="time-line-item-content">I build websites for customers as a freelancer.</p>
                    </li>
                    
                </ul>
            </div>
        </div>
    </section>

    <!-- <section class="location-section">
        <h5 class="section-title">MY LOCATION</h5>
        <div class="map-wrapper embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2254.9779149382243!2d71.8032951797799!3d40.36944654834832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fdc8b6000000001%3A0x1717e5d7c0799fa!2z0JzQvtGA0L7QsdC70LDRgdGC0YDQvtC90YvQuSDQvtCx0LvQsNGB0YLRjCwgNDAzNzUg0JrRgNGI0LXQtdC90YIsINCg0L7QsdC70LDRgdGC0L7QvdGB0LrQuNC5INC60L7QuSDRgdGC0YDQvtC90YvQuSDQv9C-0LvQvtC70L7Qs9C-INCx0ZbQt9C90LAg0LjQvNC10YHQutC40Lkg0LzQvtGA0LDQu9Cw0YHRgtGMLCDQuNC80LXRgdC60LjQuSDQuNC1INC90LAg0LzQvtC90LDQu9GM0L3QvtGB0YLQuNC5INC60L7QuSDQvdCw0YzQutC-0L3QvtGB0YLQuNC5LCDQmtGA0YjQtdC10L3Rgiwg0LzQvtGB0YLQuNC5LCDQmtGA0YjQtdC10L3RgtCw!5e0!3m2!1sen!2s!4v1641324610167!5m2!1sen!2s&zoom=17&markers=color:red%7Clabel:My%20Location%7C40.37027682860839,71.80618008440638" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" class="embed-responsive-item"></iframe>
        </div>
    </section> -->
{% endblock content %}