{% extends "index.html" %}
{% load static %}
        
{% block title %}
<title>Live Resume : Resume</title>
{% endblock title %}

{% block content %}
<main>
    <section class="resume-section">
        <div class="row">
            <div class="col-lg-6">
                <h6 class="section-subtitle">RESUME</h6>
                <h2 class="section-title">EDUCATION</h2>
                <ul class="time-line">
                    <li class="time-line-item">
                        <span class="badge badge-primary">2022 - 2023</span>
                        <h6 class="time-line-item-title">Frontend developer</h6>
                        <p class="time-line-item-subtitle">itProger ACADEMY</p>
                        <p class="time-line-item-content">I'm working on myself.</p>
                    </li>
                    <li class="time-line-item">
                        <span class="badge badge-primary">2023 - now</span>
                        <h6 class="time-line-item-title">Bacend web developer</h6>
                        <p class="time-line-item-subtitle">PARVOZ ACADEMY</p>
                        <p class="time-line-item-content">I'm working on myself.
                        </p>
                    </li>
                    
                </ul>
            </div>
            <div class="col-lg-6">
                <h6 class="section-subtitle">RESUME</h6>
                <h2 class="section-title">Experience</h2>
                <ul class="time-line">
                    <li class="time-line-item">
                        <span class="badge badge-primary">2024 - now</span>
                        <h6 class="time-line-item-title">Freelancer</h6>
                        
                        <p class="time-line-item-content">I build websites for customers as a freelancer.</p>
                    </li>
                    
                </ul>
            </div>
        </div>
    </section>
{% endblock content %}